{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load get %}
{% load mathfilters %}

{% block content %}
{% with back=note.pk|sub:1 %}
{% with next=note.pk|add:1 %}
    <div class="container">
      <p>{% static note.title %}</p>

      <input class="btn btn-primary rightpos" type="button" value=クラス更新 id=class_update></p>
      <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
        {% for class in object_list2 %}
          <button tpye="button" class="btn btn-primary" onclick='location.href="{% url 'noteclipper:main'%}"'>{{class.name}}</button>
        {% endfor %}
      </div><br>
      <a class="btn btn-primary" href='{% url "noteclipper:clip" back %}' role="button">＜Back</a>
      <img src="{% static note.title %}" class="image-fluid" style="width: 400px; height: auto" />
      <a class="btn btn-primary" href='{% url "noteclipper:clip" next %}' role="button">Next＞</a>

      {% for class in object_list2 %}
      {% if class.activate == True %}
      <br><p>{{class.name}}</p>
        {% for bmp in object_list3 %}
	    {% with 'cut_img/'|add:bmp as result%}
	      {% if class.name in bmp %}
	        {%  if note.title|slice:"8:-4" in bmp%}
	        <p>{% static result %} </p>
                <img src="{% static result %}" style="width: 100px; height: auto" />
		{% endif %}
	      {% endif %}
          {% endwith %}
        {% endfor %}
	{%endif%}
      {% endfor %}
    </div>
{% endwith %}
{% endwith %}

<script>
let update = document.getElementById('class_update');
	update.addEventListener('click', () =>{
	open('{% url "noteclipper:activate_home" %}',
	     null,
	     'width=500, height=500',
	     'workwindow');
});

</script>

{% endblock content %}
