{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load get %}
{% load mathfilters %}

{% block content %}
{% with back=note.pk|sub:1 %}
{% with next=note.pk|add:1 %}
    <div class="container">
      <p>{% static note.title %}</p>

      <div class="btn-group btn-group position_relative  position-absolute top-10 start-50 translate-middle-x" role="group" aria-label="Large button group">
        {% for class in object_list2 %}
          <button tpye="button" class="btn btn-primary" onclick='location.href="{% url 'noteclipper:main'%}"'>{{class.name}}</button>
        {% endfor %}
      </div><br>
      
      <div class="positiion-relative">
        <a class="btn btn-primary position-absolute top-50 start-0 translate-middle-y" href='{% url "noteclipper:clip" back %}' role="button">＜Back</a>
        <img src="{% static note.title %}" class="image-fluid position-absolute top-50 start-50 translate-middle" style="width: auto; height: 600px" usemap="#NoteMap" />
        <map name="NoteMap">
          <area shape="rect" coords="0,0,500,300" href="{% url 'noteclipper:main'%}">
          <area shape="rect" coords="0,300,500,600" href="{% url 'noteclipper:main'%}">
        </map>
        <a class="btn btn-primary position-absolute top-50 end-0 translate-middle-y" href='{% url "noteclipper:clip" next %}' role="button">Next＞</a>
      </div>
<!--
      {% for class in object_list2 %}
      {% if class.activate == True %}
      <br><p>{{class.name}}</p>
        {% for bmp in object_list3 %}
	    {% with 'cut_img/'|add:bmp as result%}
	      {% if class.name in bmp %}
	        {%  if note.title|slice:"8:-4" in bmp%}
	        <p>{% static result %} </p>
                <img src="{% static result %}" style="width: 100px; height: auto" />
		{% endif %}
	      {% endif %}
          {% endwith %}
        {% endfor %}
	{%endif%}
      {% endfor %}
    </div>
  -->
{% endwith %}
{% endwith %}

<script>
let update = document.getElementById('class_update');
	update.addEventListener('click', () =>{
	open('{% url "noteclipper:activate_home" %}',
	     null,
	     'width=500, height=500',
	     'workwindow');
});

</script>

{% endblock content %}
