{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    {% for article in object_list %}
      <div class="card bg-light shadow-sm mt-3">
        <div class="card-body">
          <p>{{ article.name }} : {{ article.passwd }}</p>
          <p>{{ article.login_time }}</p>
        </div>
      </div>
    {% endfor %}

    <h1>ログイン</h1>

    <!-- 新規ユーザ-->
    <div class="d-grid gap-2">
    <button class="btn btn-primary" type="button" onclick=location.href="{% url 'noteclipper:login' %}">ログイン</button>
    <button class="btn btn-primary" type="button" onclick=location.href="{% url 'noteclipper:new' %}">新規登録</button>
    <button class="btn btn-primary" type="button" onclick=location.href="{% url 'noteclipper:home' %}">ホーム</button>
    <button class="btn btn-primary" type="button" onclick=location.href="{% url 'noteclipper:setting' %}">設定</button>
    </div>

{% endblock %}
