{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load get %}
{% load mathfilters %}

{% block content %}
{% with back=note.pk|sub:1 %}
{% with next=note.pk|add:1 %}
    <div class="container">
      <p>{% static note.title %}</p>

      <div class="positiion-relative">
        <div class="position-absolute top-50 start-0 translate-middle-y"><a class="btn btn-primary" href='{% url "noteclipper:main" back %}' role="button">＜Back</a></div>
        <div class="position-absolute top-50 start-50 translate-middle"><img src="{% static note.title %}" class="image-fluid" style="width: auto; height: 600px" usemap="#NoteMap" /></div>
        <map name="NoteMap">
          <area shape="rect" coords="0,0,500,300" href="{% url 'noteclipper:main_up' note.pk %}">
          <area shape="rect" coords="0,301,500,600" href="{% url 'noteclipper:main_bottom' note.pk %}">
        </map>
        <div class="position-absolute top-50 end-0 translate-middle-y"><a class="btn btn-primary position-relative" href='{% url "noteclipper:main" next %}' role="button">Next＞</a></div>
      </div><br>
      
    </div>
{% endwith %}
{% endwith %}



{% endblock content %}
