{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}

    <h1>設定</h1>

    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="button" onclick=location.href="{% url 'noteclipper:login' %}">ログイン</button>
      <button class="btn btn-primary" type="button" onclick=location.href="{% url 'noteclipper:new' %}">新規登録</button>
      <button class="btn btn-primary" type="button" onclick=location.href="{% url 'noteclipper:home' %}">ホーム</button>
      <button class="btn btn-primary" type="button" onclick=location.href="{% url 'noteclipper:setting' %}">設定</button>
      </div>
{% endblock %}
