{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>NoteClip</title>

    <style>
    .rightpos{
      text-align: right;
    }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'noteclipper:home'%}">Note Clip</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'noteclipper:home'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">ノート追加</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" id="class_update" target="_blank">クラス切り替え</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'noteclipper:setting'%}">設定</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
    {% block content %}
    {% endblock content %}

    <script>
      let update = document.getElementById('class_update');
        update.addEventListener('click', () =>{
        open('{% url "noteclipper:activate" %}',
             null,
             'width=250, height=500',
             'workwindow');
      });
      
      const toggleButton = document.getElementById('toggleButton');
      const checkboxes = document.getElementsByName('class[]');
      
      toggleButton.addEventListener('click', () => {
        const isChecked = checkboxes[0].checked;

        checkboxes.forEach((checkbox) => {
          checkbox.checked = !isChecked;
        });
      });
      </script>
  </body>
</html>
